.Home .lander {
  padding: 15% 0;
  text-align: center;
}

.Home .lander p {
  margin: 1%;
}

.Home h1 {
  font-family: sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .Welcome h4 {
  padding: 5px;
  font-family: sans-serif;
}
.Home .Welcome {
  margin-top: 15px;
  border-radius: 25px;
}
/*Or some other things to make it look like a button*/
.AddClass:hover {
  color: rgb(54, 89, 172);
  cursor: pointer;
}