* {
  font-family: Arial, Helvetica, sans-serif;
}
.BrandText {
  font-size: 1.2em;
}
.NavText {
  font-size: 1.1em;
  color: darkgray;
}

.NavBarText {
  font-size: 1.1em;
  color: darkgray;
}

.NavDropdown {
  font-size: 1.1em;
  color: darkgray;
}

.messageButton {
  text-align: right;
}
.MessageBadge {
  margin-left: 5px;
}
.Logo {
  margin-bottom: 6px;
}