* {
  font-family: Arial, Helvetica, sans-serif;
}
.BrandText {
  font-size: 1.2em;
}

.NavContainer{
  margin-top: 10px;
}

.NavBar{
  border-radius: 10px;
  border: 1px solid grey;
}

.NavText {
  font-size: 1.1em;
  color: gray;
}

.NavText:hover {
  font-size: 1.1em;
  color: black;
}

.BrandText:hover {
  color: grey;
}

.NavBarText {
  font-size: 1.1em;
  color: darkgray;
}

.NavDropdown {
  font-size: 1.1em;
  color: darkgray;
}

.messageButton {
  text-align: right;
}
.MessageBadge {
  margin-left: 5px;
}
.Logo {
  margin-bottom: 6px;
}
